/[if IE]
  <p class="browserupgrade">
  Вы используете <strong>старую версию</strong> браузера.
  Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a>
  перейдя по ссылке.
  </p>
/ page-container
.page-container
  %header.header.page-header
    .header__wrp
      .header__grid
        %a.header__logo{:href => "/"}
          %img{:alt => "WYS", :src => "#{asset_path 'logo.png'}"}/
          %span.header__logo-bubble
            %img{:alt => "bubble", :src => "#{asset_path 'logo_bubble.png' }"}/
        .header__menu.js-menu
          .header__menu-wrp
            .header__menu-logo
              %img{:alt => "WYS", :src => "#{asset_path 'logo.png' }"}/
            .header__nav-wrp
              %nav.header__nav.navigation.navigation_type_row
                %ul.navigation__list
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#about"}
                      о лаборатории
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#services"}
                      косметология
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#works"}
                      фото работ
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#team"}
                      наша команда
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#reviews"}
                      отзывы
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#news"}
                      новости
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#vacancies"}
                      вакансии
                  %li.navigation__item
                    %a.navigation__link.js-anchor-link{:href => "#contacts"}
                      контакты
        %a.header__toggle.js-menu-toggle{:href => "javascript:void(0);"}
          %span.header__toggle-line
  / page-content
  %main.page-content
    .feedback.feedback_fixed.js-feedback
      %a.feedback__link.button.button_circle.js-feedback-link.js-feedback-circle{:href => "#form-online"}
        %span.button__text
          Онлайн
          %br>/
          запись
      #form-online.feedback__form.feedback__form_right.js-feedback-form
        .feedback__success.js-feedback-success
          .feedback__logo
            %img{:alt => "WYS", :src => "#{asset_path 'logo.png' }"}/
          .feedback__heading.caption.caption_size_xs
            Спасибо, наш специалист свяжется
            %br
            с вами в ближайшее время.
          %button.feedback__close.button.button_theme_white.button_size_form.js-feedback-close
            Закрыть
        =form_with(model: @book_request, class: 'feedback__form-data form-data js-form-feedback') do |f|
          .feedback__heading.caption.caption_size_xs
            Укажите, пожалуйста, свои контактные данные, чтобы наш специалист смог связаться с вами для подтверждения записи
          .feedback__logo
            %img{:alt => "WYS", :src => "#{asset_path 'logo.png' }"}/
          .form-data__parametr
            =f.text_field :name, class: 'form-data__input', data: { required: "" }, placeholder: '* Имя'
          .form-data__parametr
            =f.text_field :last_name, class: 'form-data__input', data: { required: "" }, placeholder: '* Фамилия'
          .form-data__parametr
            =f.text_field :phone, class: 'form-data__input js-phone-mask', data: { phone: "" }, placeholder: '* Номер телефона'
          .form-data__parametr
            / =f.select :service_id, class: 'form-data__input', data: { required: "" }, placeholder: '* Желаемая процедура'
            =f.collection_select(:service_id, Service.all, :id, :title, { :prompt => '* Желаемая процедура'},  { class: 'form-data__input' } )
          .form-data__parametr
            =f.text_field :date, class: 'form-data__input js-date-mask', data: { required: "" }, placeholder: "* Выбрать дату (дд.мм.гг)"
          .form-data__parametr.form-data__parametr_privacy
            .form-data__checkbox.checkbox
              %label.checkbox__label
                =f.check_box :accept, class: 'checkbox__input', data: { check: "" }
                %span.checkbox__check
                %span.checkbox__caption
                  согласие на обработку персональных данных
          .form-data__parametr.form-data__parametr_submit
            =f.submit 'Записаться', class: 'form-data__submit button button_theme_white button_size_form'
          .feedback__hint.caption
            * после отправки формы наш специалист свяжется с вами, чтобы подобрать наиболее удобное для вас время, и подтвердить запись.
    %section#promo.section.promo.scene
      .promo__bg
        %span.promo__bg-scroll.js-drops
        .promo__bg-wrp
          %img.promo__bg-drops.promo__bg-drops_type_1.layer{:alt => "drops_1", "data-depth" => "0.60", :src => "#{asset_path 'promo/drops_1.png' }"}/
          %img.promo__bg-drops.promo__bg-drops_type_2.layer{:alt => "drops_2", "data-depth" => "0.70", :src => "#{asset_path 'promo/drops_2.png' }"}/
          %img.promo__bg-drops.promo__bg-drops_type_3.layer{:alt => "drops_3", "data-depth" => "0.50", :src => "#{asset_path 'promo/drops_3.png' }"}/
          .promo__bg-girl.layer{"data-depth" => "0.30"}
            %img{:alt => "girl", :src => "#{asset_path 'promo/girl.png' }"}/
          .promo__bg-sign.layer{"data-depth" => "0.10"}
            %img{:alt => "sign", :src => "#{asset_path 'promo/sign.png' }"}/
      .promo__wrp
        .promo__content
          .promo__contact
            .promo__contact-items
              %a.promo__contact-item.promo__contact-item_phone{:href => "tel:#{@settings.try(:phone)}"}=@settings.try(:phone)
              %a.promo__contact-item.promo__contact-item_whatsapp{:href => "https://api.whatsapp.com/send?phone=#{strip_phone(@settings.try(:whatsapp))}", :rel => "nofollow"}=@settings.try(:whatsapp)
            .promo__contact-items
              %a.promo__contact-item.promo__contact-item_inst{:href => "https://www.instagram.com/wowyoushine", :rel => "nofollow", :target => "_blank"}=@settings.try(:instagram)
            %a.promo__contact-item.promo__contact-item_pin.js-anchor-link{:href => "#contacts"}=@settings.try(:address)

          .promo__feedback
            .promo__feedback-item.feedback.js-feedback
              %a.feedback__link.button.button_bubble.js-feedback-link{:href => "#form-consult"}
                %span.button__text
                  Бесплатная
                  %br>/
                  консультация
                  %br>/
                  косметолога
              #form-consult.feedback__form.feedback__form_left.js-feedback-form
                .feedback__success.js-feedback-success
                  .feedback__logo
                    %img{:alt => "WYS", :src => "#{asset_path 'logo.png' }"}/
                  .feedback__heading.caption.caption_size_xs
                    Спасибо, наш специалист свяжется
                    = succeed "\u{441}\u{a0}\u{432}\u{430}\u{43c}\u{438}" do
                      %br/
                  %button.feedback__close.button.button_theme_white.button_size_form.js-feedback-close
                    Закрыть
                =form_with(model: @consult_request, class: 'feedback__form-data form-data js-form-feedback') do |f|
                  / %form.feedback__form-data.form-data.js-form-feedback{:action => "#"}
                  .feedback__heading.caption.caption_size_xs
                    Укажите, пожалуйста, свои контактные данные, чтобы наш специалист смог связаться с вами для предоставления консультации
                  .feedback__logo
                    %img{:alt => "WYS", :src => "#{asset_path 'logo.png' }"}/
                  .form-data__parametr
                    =f.text_field :name, class: 'form-data__input', data: {required: ""}, placeholder: "* Имя"
                  .form-data__parametr
                    =f.text_field :last_name, class: 'form-data__input', data: {required: ""}, placeholder: "* Фамилия"
                  .form-data__parametr
                    =f.text_field :phone, class: 'form-data__input js-phone-mask', data: { phone: "" }, placeholder: "* Номер телефона"
                  .form-data__parametr
                    =f.text_area :message, class: 'form-data__textarea', data: { required: "" }, placeholder: "* ВАШ ВОПРОС"
                  .form-data__parametr.form-data__parametr_privacy
                    .form-data__checkbox.checkbox
                      %label.checkbox__label
                        =f.check_box :accept, data: { check: "" }, class: 'checkbox__input'
                        %span.checkbox__check
                        %span.checkbox__caption
                          согласие на обработку персональных данных
                  .form-data__parametr.form-data__parametr_submit
                    =f.submit 'Отправить', class: "form-data__submit button button_theme_white button_size_form"
    %section#about.section.about.scene.scene_min
      %span.about__bg.layer{"data-depth" => "0.60"}
      .section__wrp.about__wrp
        .section__header.about__header
          .section__heading.section__heading_stone.about__heading.heading.heading_type_h3
            О лаборатории
        .section__body.about__body
          .about__gallery-wrp
            .about__gallery.js-gallery.js-slider-about
              .about__gallery-list
                %a.about__gallery-item.js-gallery-item{"data-fancybox" => "about_gallery", :href => "#{asset_path 'about/1.jpg'}"}
                  %img.js-fit{:src => "#{asset_path 'about/1.jpg' }"}/
                %a.about__gallery-item.js-gallery-item{"data-fancybox" => "about_gallery", :href => "#{asset_path 'about/2.jpg'}"}
                  %img.js-fit{:src => "#{asset_path 'about/2.jpg' }"}/
                %a.about__gallery-item.js-gallery-item{"data-fancybox" => "about_gallery", :href => "#{asset_path 'about/3.jpg'}"}
                  %img.js-fit{:src => "#{asset_path 'about/3.jpg' }"}/
            .about__gallery-arrow.about__gallery-arrow_prev.js-slider-about-prev
              %span.icon.icon-arrow-left
            .about__gallery-arrow.about__gallery-arrow_next.js-slider-about-next
              %span.icon.icon-arrow-right
          .about__article.article.article_font_l
            %p Концепция бренда Keep Looking берет свое начало от игры слов «keep» — продолжай, сохраняй и «look» — образ, взгляд. Дословно это выражение можно перевести, как продолжай искать…
            %p ГАРМОНИЮ МЕЖДУ СВОЕЙ ИСТИННОЙ ВНУТРЕННЕЙ КРАСОТОЙ И ВНЕШНИМ ОБРАЗОМ
            %p Наши мастера подобно гениальным художникам ищут свое вдохновение в подлинной женской красоте, работая над каждым образом, словно над изящным произведением классического искусства, чувствуя вашу индивидуальность, неповторимый характер и неуловимое настроение.

    =render partial: 'front/static_pages/home_sections/cosmetology'
    
    =render partial: 'front/static_pages/home_sections/works'

    =render partial: 'front/static_pages/home_sections/reviews'

    =render partial: 'front/static_pages/home_sections/news'

    =render partial: 'front/static_pages/home_sections/team'

    =render partial: 'front/static_pages/home_sections/vacancies'

    =render partial: 'front/static_pages/home_sections/contacts'
  / /page-content

  =render partial: 'front/navigation/footer'
  